 * {
    padding: 0;
    margin: 0;
}


.Home {
    width: 100%;
    height: 100%;
    background-color: #380e4a;
    border: none;
}

.heading-banner {
    background-color: #834c8c;
    height: 480px;
    width: 100%;
}


.heading1  {
    font-size: 128px;
    font-weight: 800;
    font-family: Poppins;
    text-transform: uppercase;
    color: #E9624C;
}

.heading2 {
    font-size: 128px;
    font-weight: 400;
    font-family: Poppins;
    text-transform: uppercase;
    color: #370E4A;
}

.important-message {
    font-size: 36px;
    font-family: Poppins;
    color: black;
}

.exercise-everyday-container {
    width: auto;
    height: auto;
    margin: 60px auto;
}

img {
    height: 175px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sports-img {
    height: 350px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


  
  .signup-button:hover {
    background-color: #d25b48;
  }
  

.background {
    background-color: white;
}

.info h3 {
    padding-bottom: 50px;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.info {
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 20px;
    color: #FFFFFF;
    font-size: 36px;
}

.students-container {
    width: auto;
    height: auto;
    margin: 40px auto;
    border-radius: 20px;
    padding: 0 80px;
}

.board-directors h3{
    font-size: 48px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.directors-heading {
    padding: 50px 0;
    color: #D6594C;
}

.students-heading {
    padding: 60px 0;
    color: #40214A;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
}

.grid-directors h4 {
    padding-top: 20px;
    font-size: 20px;
    color: black;
    text-align: center;
}

.grid-students h4{
    font-size: 20px;
    font-weight: 700;
    color: black;
    width: 300px;
    vertical-align: text-top;
    padding-top: 10px;
}

.grid-students p {
    color: black;
    width: 300px;
    font-size: 18px;
}

.user-info {
    display: block;
    margin: auto;
    padding: 10px;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform: rotate(180deg);
    color: #380e4a;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.user-details-data {
    text-align: center;
    color: #380e4a;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.user {
    display: grid;
    grid-template-columns: repeat(2, auto);
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 300px;
    left: -305px;
    background: #e87461;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 380px;
    padding: 25px;
    height: auto;

    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.user textarea {
    width: 190px;
    height: 100px;
    margin-bottom: 6px;
}
.user:hover {
    left: 0;
}
.user:hover #slideout_inner {
    left: 0;
}

.students-container {
  display: inline-block;
  width: 100%;
}

.projects-container p{
    display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 1 auto;
}

.project-info {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-align: center;
}


.project-list > div {
    margin-bottom: 10px;
}


.footer-container{
    background-color: #CACCCC;
}

.footer-grid{
    display: flex;
    justify-content: center;
    padding-right: 70px;
    align-items: center;
}

.footer-logo{
    width: 200px;
    height: auto;
    display: flex;
    margin: auto;
}

.socials-logo img{
    width: 75px;
    height: auto;
    margin-top: 50px;
    margin-left: 0;
}

.socials-logo{
    padding-left: 75px;
}

.socials-logo p{
    margin-top: 10px;
}

.footer-msg{
    color: black;
    text-align: center;
    margin: 40px 40px 0;
    padding-bottom: 40px;
}

.bold-black-footer {
    font-weight: bold;
    color: black;
  }
  



@media only screen and (max-width: 1200px) {
    .icon-grid{
        column-gap: auto;
        height: auto;
        justify-content: center;
    }
} 


.sports-img {
    height: 175px; 
}

.mvg-img1, .mvg-img2, .mvg-img3 {
    width: 20%;
}

.heading1, .heading2 {
    font-size: 64px; 
}

.exercise-everyday-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 60px auto;
    padding: 0 80px;
    flex-wrap: nowrap;
}

.enlarge-img {
    min-width: 10%;
    max-width: 80%;
    height: auto;
    margin-left: auto;
}



.icon-grid {
    font-size: 30px;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    row-gap: 20px;
}

.grid-object {
    padding: 10px;
}

.heading1, .heading2, .important-message {
    text-align: left;
    white-space: nowrap;
}

.important-message {
    margin-bottom: 0;
}

.signup-button {
    background-color: #370E4A;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px 10px;
    margin-top: 50px;
    font-size: 16px;
    cursor: pointer;
  }

  .heading1 {
    margin-bottom: -15px;
    color: #370E4A;
  }


  .redback-banner{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 80px;
    margin-top: 50px;
    margin-bottom: 80px;
}


.home-logo {
    width: auto;
    height: 300px;
    flex-grow: 1;
}

.info-text-box {
    border-radius: 50px;
    padding: 10px; 
    background-color: #D6594C;  
    overflow: hidden;
    flex-grow: 3;
}

.info h3 {
    padding-bottom: 15px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.info p {
    font-size: 25px;
}


.mvg-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px 80px;
  }
  
  .mvg-item{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    margin-bottom: 15px;
    align-items: center;
    gap: 80px;
  }
  
  .mvg-img {
    flex: 1;
  }
  
  .mvg-content {
    flex: 2;
  }


  
  .mvg-item.reverse {
    flex-direction: row-reverse;
  }
  

  

  .mvg-title {
    color: #692E47;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 15px;
  }
  
  .mvg-paragraph, .mvg-content ul {
    color: #000000;
    font-size: 25px;
  }
  


.mvg-logos{
    width: 100%;
    height: auto;
}












.directors-container {
    width: 100%;
    max-width: 1240px;
    margin: 60px auto;
    background-color: #DFD8E2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board-directors-members,
.student-directors-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-directors,
.grid-students {
    flex: 0 1 calc(25% - 1em);
    margin: 0.5em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .grid-directors,
    .grid-students {
        flex: 0 1 calc(50% - 1em);
    }
    .redback-banner {
        padding: 0 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .info p {
        font-size: 20px;
    }
    .info h3 {
        padding-bottom: 10px;
        font-size: 30px;
    }
    .info {
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .mvg-item {
        gap: 20px;
        flex-direction: column;
    }
    .mvg-item.reverse {
        flex-direction: column;
    }
    .mvg-container {
        padding: 20px 20px;
    }
    .mvg-paragraph, .mvg-content ul {
        font-size: 18px;
    }
    .mvg-img {
        width: 50%;
    }
    .students-container {
        padding: 0 20px;
    }
}


.project-title{
    font-weight: bolder;
    padding-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}

.projects-container{
    height: auto;
    color: black;
    text-align: center;
    background-color: #40214A;
    border-radius: 20px;
    margin: auto;
    margin: 50px 80px 30px 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}

.project-columns {
    display: flex;
    justify-content: inherit;
    flex-wrap: wrap;
    padding: 0 80px 20px;
  }
  

.project {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.project-number, .project-name {
    text-align: left;
    margin-right: 5px;
}

@media screen and (max-width: 768px) {
    .project-columns {
        flex-direction: column;
    }

    .project-column {
        width: 100%;
    }

    .exercise-everyday-container {
        flex-direction: column;
        gap: 50px;
        padding: 0 40px;
    }
    .sports-img {
        height: 140px;
    }
}

@media screen and (max-width: 1200px) {
    .heading1, .heading2, .important-message {
        white-space: normal;
    }
    .important-message {
        font-size: 25px;
    }
    .heading1, .heading2 {
        font-size: 35px;
    }

    .redback-banner{
        flex-direction: column;
    }
    .project-columns {
        padding: 0 40px 20px;
    }
    .projects-container {
        margin: 20px;
    }
}