* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.our-team {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
}

.our-team-heading, .our-students-heading {
    font-family: 'Roboto', serif;
    font-size: 36px;
    color: white;
    margin: 50px 0;
}

.our-team-heading {
    text-transform: uppercase;
}

.our-team-heading-type {
    font-size: 26px;
}

.directors-background {
    width: 100%;
    height: 600px;
    background-color: #5A226D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-board-directors-members {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.our-directors-heading {
    font-family: 'Roboto', serif;
    font-size: 36px;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.our-students-heading {
    padding-bottom: 50px;
    border-bottom: 3px solid white;
}

.our-grid-directors h4, .our-grid-members h4, .our-grid-students h4 {
    padding-top: 10px;
    font-size: 20px;
    color: #e87461;
    text-align: center;
}

.our-student-directors-members, .our-team-members {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: center;
}

.our-team-members-leadership {
    /* display: grid; */
    grid-template-columns: repeat(2, 1fr);
    /* gap: 10px; */
    /* justify-content: center; */
}

.our-grid-students, .our-grid-members {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.our-grid-students h4, .our-grid-members h4 {
    width: 100%;
    vertical-align: text-top;
    padding-bottom: 10px;
}

.our-grid-students p, .our-grid-members p {
    color: #62656A;
    font-size: 18px;
    width: 100%;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
    .our-grid-directors h4, .our-grid-members h4, .our-grid-students h4 {
        font-size: 16px;
    }
    .our-grid-students p, .our-grid-members p {
        font-size: 14px;
    }
}
